body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

.grey-block {
  background-color: #F6F8FF;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.01px;
}

.header-centered {
  text-align: center;
}

.cards-block .card {
  box-sizing: border-box;
  padding: 2em 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s;
  cursor: pointer;
}

.cards-block .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.16);
}

.card i {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.card h3 {
  text-align: center;
  color: #43475B;
}

.card .button-underline {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 1em;
}
