body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  color: #43475B;
}

h2 {
    color: #494978;
    font-size: 2.8em;
    margin-top: 0;
}

.header-centered {
  text-align: center;
}

img {
  width: 100%;
}

.grey-block {
  background-color: #F6F8FF;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.01px;
}

.button-primary {
  padding: 0.7em 1.75em;
  color: #fff;
  background-color: #9000FF;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  transition: all 0.2s;
}

.button-primary:hover, 
.button-primary:active, 
.button-primary:focus {
  background-color: #FF0077;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36);
}

.button-secondary {
  padding: 0.5em 0.7em;
  color: #fff;
  background-color: #FF0077;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  transition: all 0.2s;
}

.button-secondary:hover, 
.button-secondary:active, 
.button-secondary:focus {
  background-color: #9000FF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36);
}

/* Header Styles */

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 7;
}

header ul {
  list-style: none;
  float: right;
}

header ul li {
  display: inline-block;
  padding: 0.2em 0em;
  position: relative;
  margin: 0 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #494978;
  transition: all 0.2s;
}

header ul a:hover li,
header ul a:active li,
header ul a:focus li {
  color: #FF0077;
}

header ul li::after {
  height: 2px;
  width: 0px;
  background-color: #FF0077;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.35em;
  transition: all 0.2s;
}

header ul a:hover li::after,
header ul a:active li::after,
header ul a:focus li::after {
  height: 2px;
  width: 100%;
  background-color: #FF0077;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.35em;
}

#header-logo {
  float: left;
}

#header-logo img {
  width: 100px;
  margin-top: 1em;
}

/* Hero Header */

.home #hero {
  background-image: url('images/hero.png');
  background-image: url("images/hero.png"), linear-gradient(#EEF0FC, #ffffff);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8% 25%;
  background-position-y: 30%;
  background-position-x: 50%;
}

.home #hero h1 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Cards Section */

.cards-block a {
  text-decoration: none;
}

.cards-block .card {
  box-sizing: border-box;
  padding: 2em 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.cards-block .card:hover,
.cards-block .card:active,
.cards-block .card:focus {
  transform: translateY(-10px);
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.16);
}

.cards-block .card .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s;
}

.cards-block .card:hover .button-underline:after,
.cards-block .card:active .button-underline:after,
.cards-block .card:focus .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 100%;
  height: 3px;
}

.cards-block .card p {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5;
  color: #43475B;
}

.card i {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.card h3 {
  text-align: center;
  color: #43475B;
  min-height: 2.5em;
}

.card .button-underline {
  text-align: center;
  display: inline-block;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 1em;
}

.cards-block .column:nth-child(5n+1) i, .cards-block .column:nth-child(5n+1) .button-underline {
  color: #9000FF;
}

.cards-block .column:nth-child(5n+2) i, .cards-block .column:nth-child(5n+2) .button-underline  {
  color: #EE00FF;
}

.cards-block .column:nth-child(5n+3) i, .cards-block .column:nth-child(5n+3) .button-underline  {
  color: #FF0077;
}

.cards-block .column:nth-child(5n+4) i, .cards-block .column:nth-child(5n+4) .button-underline  {
  color: #FF5E00;
}

.cards-block .column:nth-child(5n+5) i, .cards-block .column:nth-child(5n+5) .button-underline  {
  color: #FF9900;
}

.cards-block .column:nth-child(5n+1) .button-underline:after {
  background-color: #9000FF;
}

.cards-block .column:nth-child(5n+2) .button-underline:after  {
  background-color: #EE00FF;
}

.cards-block .column:nth-child(5n+3) .button-underline:after  {
  background-color: #FF0077;
}

.cards-block .column:nth-child(5n+4) .button-underline:after  {
  background-color: #FF5E00;
}

.cards-block .column:nth-child(5n+5) .button-underline:after  {
  background-color: #FF9900;
}

/* Footer Styles */

footer {
  background-color: #F07;
  color: #fff;
  padding: 3em 0 0 0;
}

#footer-logo img {
  width: 100px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

footer ul a li {
  color: rgba(255, 255, 255, 0.75);
}

footer ul a:hover li,
footer ul a:active li,
footer ul a:focus li {
  color: rgba(255, 255, 255, 1);
}

footer ul.contacts li {
  text-transform: none;
  letter-spacing: 0;
}

footer ul.social-list li {
  display: inline-block;
}

footer ul.social-list li i {
  font-size: 1.5em;
  margin-right: 0.25em;
}

.container.copyright {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: unset;
  text-align: center;
  font-size: 0.8em;
  margin-top: 1.5em;
}

.container.copyright p {
  color: #fff;
  margin: 0.5em 0;
}
