body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

.grey-block {
  background-color: #F6F8FF;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.01px;
}

.header-centered {
  text-align: center;
}

.cards-block a {
  text-decoration: none;
}

.cards-block .card {
  box-sizing: border-box;
  padding: 2em 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.cards-block .card:hover,
.cards-block .card:active,
.cards-block .card:focus {
  transform: translateY(-10px);
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.16);
}

.cards-block .card .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s;
}

.cards-block .card:hover .button-underline:after,
.cards-block .card:active .button-underline:after,
.cards-block .card:focus .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 100%;
  height: 3px;
}

.cards-block .card p {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5;
  color: #43475B;
}

.card i {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.card h3 {
  text-align: center;
  color: #43475B;
}

.card .button-underline {
  text-align: center;
  display: inline-block;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 1em;
}

.cards-block .column:nth-child(5n+1) i, .cards-block .column:nth-child(5n+1) .button-underline {
  color: #9000FF;
}

.cards-block .column:nth-child(5n+2) i, .cards-block .column:nth-child(5n+2) .button-underline  {
  color: #EE00FF;
}

.cards-block .column:nth-child(5n+3) i, .cards-block .column:nth-child(5n+3) .button-underline  {
  color: #FF0077;
}

.cards-block .column:nth-child(5n+4) i, .cards-block .column:nth-child(5n+4) .button-underline  {
  color: #FF5E00;
}

.cards-block .column:nth-child(5n+5) i, .cards-block .column:nth-child(5n+5) .button-underline  {
  color: #FF9900;
}

.cards-block .column:nth-child(5n+1) .button-underline:after {
  background-color: #9000FF;
}

.cards-block .column:nth-child(5n+2) .button-underline:after  {
  background-color: #EE00FF;
}

.cards-block .column:nth-child(5n+3) .button-underline:after  {
  background-color: #FF0077;
}

.cards-block .column:nth-child(5n+4) .button-underline:after  {
  background-color: #FF5E00;
}

.cards-block .column:nth-child(5n+5) .button-underline:after  {
  background-color: #FF9900;
}
