body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

.grey-block {
  background-color: #F6F8FF;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.01px;
}

.header-centered {
  text-align: center;
}

.cards-block .card {
  box-sizing: border-box;
  padding: 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
