body {
  font-family: Raleway;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
  color: #43475B;
}

h2 {
    color: #494978;
    font-size: 2.8em;
    margin-top: 0;
}

h3 {
  color: #494978;
  margin-top: 0;
}

.header-centered {
  text-align: center;
}

img {
  width: 100%;
}

.technologies {
  position: relative;
  padding-bottom: 4em;
}

.technologies h3 {
  position: absolute;
  top: calc(100px + 1em);
  width: 100%;
  text-align: center;
}

.small-img {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
  display: block;
}

.grey-block {
  background-color: #F6F8FF;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  padding: 0.01px;
}

.button-primary {
  padding: 0.7em 1.75em;
  color: #fff;
  background-color: #9000FF;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  transition: all 0.2s;
}

.button-primary:hover, 
.button-primary:active, 
.button-primary:focus {
  background-color: #FF0077;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36);
}

.button-secondary {
  padding: 0.5em 0.7em;
  color: #fff;
  background-color: #FF0077;
  font-weight: 800;
  font-size: 1.2em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-top: 1em;
  display: inline-block;
  transition: all 0.2s;
}

.button-secondary:hover, 
.button-secondary:active, 
.button-secondary:focus {
  background-color: #9000FF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36);
}

/* Header Styles */

header {
  position: fixed;
  width: 100%;
  z-index: 7;
}

.header-wrap {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 7;
}

nav.horizontal ul {
  list-style: none;
  float: right;
}

nav.horizontal ul li {
  display: inline-block;
  padding: 0.2em 0em;
  position: relative;
  margin: 0 1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #494978;
  transition: all 0.2s;
}

header ul li.selected {
  color: #FF0077;
}

header ul a:hover li,
header ul a:active li,
header ul a:focus li {
  color: #FF0077;
}

header ul li::after {
  height: 2px;
  width: 0px;
  background-color: #FF0077;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.35em;
  transition: all 0.2s;
}

header ul a:hover li::after,
header ul a:active li::after,
header ul a:focus li::after {
  height: 2px;
  width: 100%;
  background-color: #FF0077;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 1.35em;
}

#header-logo {
  float: left;
}

#header-logo img {
  width: 100px;
  margin-top: 1em;
}

.tray {
  position: relative;
  background-color: #FF0077;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
  top: 55px;
  display: inline-block;
  padding: 3em 1em;
  height: 100vh;
  width: 100vw;
  color: #fff;
  box-sizing: border-box;
}

.vertical ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 600;
}

.vertical ul li {
  font-size: 1em;
  position: relative;
  display: inline-block;
}

.vertical ul a {
  display: block;
}

.vertical ul li {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
}

.vertical ul a {
  text-align: center;
  color: #fff;
}

.vertical ul a:hover li,
.vertical ul a:focus li,
.vertical ul a:active li {
  color: #fff;
}

.vertical ul a li:after,
.vertical ul a li:after,
.vertical ul a li:after {
  background-color: #fff;
}

.vertical ul a:hover li:after,
.vertical ul a:focus li:after,
.vertical ul a:active li:after {
  background-color: #fff;
}


/* Hamburger Icon */

#hamburger {
  position: relative;
  float: right;
  height: 40px;
  width: 40px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

.bar {
  border-radius: 50px;
  height: 3px;
  width: 30px;
  height: 5px;
  width: 40px;
  background-color: #ff0077;
  position: absolute;
  transition: all 0.2s;
}

.horiz-bar-1 {
  top: 4px;
}

.horiz-bar-3 {
  bottom: 4px;
}

.horiz-bar-2 {
  top: calc(50% - 2.5px);
}

.bar.diag-bar-1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 17px;
}

.bar.diag-bar-2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 17px;
}

#hamburger[aria-checked="false"] .bar.horiz-bar-1 {
  width: 40px;
}

#hamburger[aria-checked="false"] .bar.horiz-bar-2 {
  width: 40px;
}

#hamburger[aria-checked="false"] .bar.horiz-bar-3 {
  width: 40px;
}

#hamburger[aria-checked="false"] .bar.diag-bar-1 {
  width: 0;
}

#hamburger[aria-checked="false"] .bar.diag-bar-2 {
  width: 0;
}

#hamburger[aria-checked="true"] .bar.horiz-bar-1 {
  width: 0;
}

#hamburger[aria-checked="true"] .bar.horiz-bar-2 {
  width: 0;
}

#hamburger[aria-checked="true"] .bar.horiz-bar-3 {
  width: 0;
}

#hamburger[aria-checked="true"] .bar.diag-bar-1 {
  width: 40px;
}

#hamburger[aria-checked="true"] .bar.diag-bar-2 {
  width: 40px;
}

.tray {
  display: none;
}

/* Header Media Queries */

nav.horizontal {
  display: none
}

@media only screen and (min-width: 750px) {
  #hamburger {
    display: none;
  }
  
  .tray {
    display: none !important;
  }
  
  nav.horizontal {
    display: block;
  }
}

/* Hero Header */

.home #hero {
  background-image: url('images/hero.png');
  background-image: url("images/hero.png"), linear-gradient(#EEF0FC, #ffffff);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8% 25%;
  background-position-y: 30%;
  background-position-x: 50%;
}

.home #hero h1 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Cards Section */

a {
  text-decoration: none;
}

.card {
  box-sizing: border-box;
  padding: 2em 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.card:hover,
.card:active,
.card:focus {
  transform: translateY(-10px);
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.16);
}

.card .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 0;
  height: 3px;
  transition: all 0.2s;
}

.card:hover .button-underline:after,
.card:active .button-underline:after,
.card:focus .button-underline:after {
  display: block;
  margin-top: 0.25em;
  content: '';
  width: 100%;
  height: 3px;
}

.card p {
  text-align: left;
  font-size: 0.9em;
  line-height: 1.5;
  color: #43475B;
}

.card i {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.card h3 {
  text-align: center;
  color: #43475B;
  min-height: 2.5em;
  margin-top: 1em;
}

.card .button-underline {
  text-align: center;
  display: inline-block;
  font-weight: 800;
  text-transform: capitalize;
  font-size: 1.1em;
  margin-top: 1em;
}

.column:nth-child(5n+1) .card i, .cards-block .column:nth-child(5n+1) .button-underline {
  color: #9000FF;
}

.column:nth-child(5n+2) .card i, .cards-block .column:nth-child(5n+2) .button-underline  {
  color: #EE00FF;
}

.column:nth-child(5n+3) .card i, .cards-block .column:nth-child(5n+3) .button-underline  {
  color: #FF0077;
}

.column:nth-child(5n+4) .card i, .cards-block .column:nth-child(5n+4) .button-underline  {
  color: #FF5E00;
}

.column:nth-child(5n+5) .card i, .cards-block .column:nth-child(5n+5) .button-underline  {
  color: #FF9900;
}

.column:nth-child(5n+1) .card .button-underline:after {
  background-color: #9000FF;
}

.column:nth-child(5n+2) .card .button-underline:after  {
  background-color: #EE00FF;
}

.column:nth-child(5n+3) .card .button-underline:after  {
  background-color: #FF0077;
}

.column:nth-child(5n+4) .card .button-underline:after  {
  background-color: #FF5E00;
}

.column:nth-child(5n+5) .card .button-underline:after  {
  background-color: #FF9900;
}

/* Special List Section */

ul.special-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

ul.special-list li {
  line-height: 2;
  color: #43475B;
  font-weight: 600;
}

ul.special-list li::before {
  display: '';
  height: 0.7em;
  width: 0.7em;
  display: inline-block;
  content: '';
  background-color: #ff0077;
  border-radius: 50px;
  margin: 0 0.5em;
}

/* Testimonials */

.test-block {
  margin: auto;
  max-width: 700px;
  position: relative;
  padding: 1em 3em;
}

.test-block::before {
  content: '\f10d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  position: absolute;
  left: 0;
  color: #FF0077;
}

.test-block::after {
  content: '\f10e';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2em;
  position: absolute;
  right: 0;
  color: #FF0077;
  top: 0;
}

.review {
  font-size: 1.25em;
}

.review-name {
  color: #FF0077;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0;
}

.review-title {
  margin-top: 0.5em;
  font-style: italic;
}

.controls {
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: #E1E1E1;
  display: inline-block;
  margin: 0.33em;
}

.dot-selected {
  background-color: #FF0077;
}

/* Footer Styles */

footer {
  background-color: #F07;
  color: #fff;
  padding: 3em 0 0 0;
}

#footer-logo img {
  width: 100px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

footer ul a {
  text-decoration: none;
}

footer ul a li {
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s;
}

footer ul a:hover li,
footer ul a:active li,
footer ul a:focus li {
  color: rgba(255, 255, 255, 1);
}

footer ul.contacts li {
  text-transform: none;
  letter-spacing: 0;
}

footer ul.social-list li {
  display: inline-block;
}

footer ul.social-list li i {
  font-size: 1.5em;
  margin-right: 0.25em;
}

footer .column.span3 {
  padding-bottom: 1em;
}

.container.copyright {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: unset;
  text-align: center;
  font-size: 0.8em;
  margin-top: 1.5em;
}

.container.copyright p {
  color: #fff;
  margin: 0.5em 0;
}

.container.copyright p a {
  color: #fff;
  text-decoration: underline;
}

.container.copyright p a:hover,
.container.copyright p a:active,
.container.copyright p a:focus {
  text-decoration: none;
}

/* Blog-specific Styles */
.blog-entry .image-container {
  max-width: 300px;
  min-width: 200px;
  margin-right: 1em;
}

.blog-entry .image-container img {
  border-radius: 10px;
}

.blog-entry {
  display: flex;
}

.large-caret {
  color: #FF0099;
  font-size: 3em;
  padding: 0.33em;
  padding-top: 1em;
}

.tag {
  background-color: #ddd;
  border-radius: 50px;
  color: #fff;
  font-wight: ;
  font-weight: 600;
  padding: 0.3em 1em;
}

.tag-web-dev {
  background-color: #9000ff;
}

.blog-entry {
  box-sizing: border-box;
  padding: 1em 1em;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.2s;
  cursor: pointer;
}

a .blog-entry:hover, 
a .blog-entry:focus, 
a .blog-entry:active {
  box-shadow: 0 16px 28px rgba(0, 0, 0, 0.16);
}

.blog-lower {
  display: flex;
}

.blog-higher {
  display: flex;
}
