<div class="header-wrap">
  <div class="container">
    <div class="row">
      <div class="column span12">
        <div id="header-logo"><img src="images/header-logo.svg" alt="Chazbit"></div>
        <nav class="horizontal">
          <ul>
            <a href="" target="_self"><li>Home</li></a>
            <a href="" target="_self"><li>Work</li></a>
            <a href="" target="_self"><li>Blog</li></a>
            <a href="" target="_self"><li>About</li></a>
            <a href="" target="_self"><li>Contact</li></a>
          </ul>
        </nav>
        <div id="hamburger" role="checkbox" aria-checked="false">
          <div class="bar horiz-bar-1"></div>
          <div class="bar horiz-bar-2"></div>
          <div class="bar horiz-bar-3"></div>
          <div class="bar diag-bar-1"></div>
          <div class="bar diag-bar-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tray">
  <nav class="vertical">
    <ul>
      <a href="" target="_self"><li>Home</li></a>
      <a href="" target="_self"><li>Work</li></a>
      <a href="" target="_self"><li>Blog</li></a>
      <a href="" target="_self"><li>About</li></a>
      <a href="" target="_self"><li>Contact</li></a>
    </ul>
  </nav>
</div>