<a href='' target="_self">
  <div class="portfolio-entry">
    <div class="image-container">
       <img src="images/project-thumbnail.png" alt="example project name"/>
    </div>
    <div>
      <div class="portfolio-higher">
        <h2>Example Project Title</h2>
        <div class="tag-container">
          <span class="tag tag-mobile">Mobile</span>
        </div>
      </div>
      <div class="portfolio-lower">
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat nulla.
          </p>
        </div>
        <div class="large-caret">
          <i class="fas fa-angle-right"></i>
        </div>
      </div>
    </div>
  </div>
</a>